@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*
  ========================================
  CSS reset

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
  ========================================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  General CSS
  ========================================
*/

html {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*
  ========================================
  Reusable font styling classes
  ========================================
*/

.font-medium {
  font-weight: 500;
}

.blue-main {
  color: #172b4d;
}

.blue-light {
  color: #344563;
}

.purple-main {
  color: #6070ff;
}

.purple-light {
  color: #7f8cff;
}

.grey-main {
  color: #7a869a;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/*
  ========================================
  Reusable Grid classes
  ========================================
*/

.grid {
  display: grid;
}

/*
  ========================================
  Navigation bar
  ========================================
*/

nav {
  padding: 12px 35px 12px 24px;

  img {
    vertical-align: middle;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

/*
  ========================================
  Headline
  ========================================
*/

#headline {
  padding: 114px 24px;
  background-image: url('../images/header-background.png');
  background-repeat: no-repeat;

  >:nth-child(-n+3) {
    padding-bottom: 12px;
  }

  .social {
    align-items: center;

    >:nth-child(-n+4) {
      margin-right: 20px;
    }

    li {
      a {
        display: block;

        img {
          vertical-align: middle;
        }
      }
    }
  }
}

/*
  ========================================
  Works
  ========================================
*/



#works {
  // grid-template-rows: auto auto auto;
  // grid-template-columns: auto;
  // grid-template-areas:
  //   "work1"
  //   "work2"
  //   "work3";
  padding: 114px 24px;

  .work-card {
    //grid-area: work1;
    padding: 16px 16px 24px 16px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;

    .work-info {
      margin-top: 12px;
      margin-bottom: 12px;

      .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
      }

      .subtitle {

        div {
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
        }

        >:nth-child(-n+2) {
          &:after {
            margin-left: 12px;
            content: url('../images/works/circle.png') / "Separator";
            margin-right: 12px;
          }
        }
        
      }

      .description {
        font-size: 15px;
      }

      >:nth-child(-n+2) {
        margin-bottom: 12px;
      }
    }

    .tag-info {
      margin-bottom: 24px;
      
      >:nth-child(-n+2) {
        margin-right: 8px;
      }

      span {
        font-size: 12px;
        line-height: 16px;
        padding: 4px 12px;
        border-radius: 8px;
        background-color: #ebebff;
      }
    }

    button {
      padding: 12px;
      font-size: 17px;
      line-height: 24px;
      color: #396df2;
      border: 1px solid #396df2;
      background-color: white;
      border-radius: 8px;
    }

    
  }

  #work2 {
    //grid-area: work2;
  }

  #work3 {
    //grid-area: work3;
  }

}
