@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/*
  ========================================
  CSS reset

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
  ========================================
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
  ========================================
  Reusable Grid classes
  ========================================
*/
.grid {
  display: -ms-grid;
  display: grid;
}

/*
  ========================================
  Reusable element styling CSS
  ========================================
*/
html {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

button {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #7F8CFF;
  background-color: white;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #6070ff;
  border-color: #6070ff;
  -webkit-box-shadow: 0 8px 16px 0 #4053fc3d;
          box-shadow: 0 8px 16px 0 #4053fc3d;
}

button:active {
  background-color: #2230d2;
  border-color: #2230d2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
  ========================================
  Reusable font styling classes
  ========================================
*/
.bg-white {
  background-color: white;
}

.font-medium {
  font-weight: 500;
}

.blue-main {
  color: #172b4d;
}

.blue-light {
  color: #344563;
}

.purple-main {
  color: #6070ff;
}

.purple-light {
  color: #7f8cff;
}

.grey-main {
  color: #7a869a;
}

/*
  ========================================
  Reusable section styling classes
  ========================================
*/
.about {
  background-color: white;
  padding: 114px 24px;
}

.about > :nth-child(-n+3) {
  padding-bottom: 12px;
}

.about .social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .social > :nth-child(-n+4) {
  margin-right: 20px;
}

.about .social li a {
  display: block;
}

.about .social li a img {
  vertical-align: middle;
}

/*
  ========================================
  Navigation bar
  ========================================
*/
nav {
  padding: 12px 35px 12px 24px;
  background-color: white;
}

nav img {
  vertical-align: middle;
}

nav button {
  border: none;
  background-color: transparent;
  padding: 0;
}

nav button:hover {
  cursor: pointer;
}

/*
  ========================================
  Headline
  ========================================
*/
#headline {
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
}

/*
  ========================================
  Works
  ========================================
*/
#works {
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "work1" "work2" "work3" "work4";
  grid-row-gap: 88px;
  padding: 114px 24px;
}

#works > :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work1;
}

#works > :nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: work2;
}

#works > :nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: work3;
}

#works > :nth-child(3) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: work4;
}

#works .work-card {
  padding: 16px 16px 24px 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: white;
}

#works .work-card .work-info {
  margin-top: 12px;
  margin-bottom: 12px;
}

#works .work-card .work-info .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

#works .work-card .work-info .subtitle div {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

#works .work-card .work-info .subtitle > :nth-child(-n+2):after {
  margin-left: 12px;
  content: url("../images/works/circle.png")/"Separator";
  margin-right: 12px;
}

#works .work-card .work-info .description {
  font-size: 15px;
}

#works .work-card .work-info > :nth-child(-n+2) {
  margin-bottom: 12px;
}

#works .work-card .tag-info {
  margin-bottom: 24px;
}

#works .work-card .tag-info > :nth-child(-n+2) {
  margin-right: 8px;
}

#works .work-card .tag-info span {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
}

/*
  ========================================
  About Me
  ========================================
*/
#about-me {
  padding-bottom: 12px;
  border-top-right-radius: 75px;
}

#about-me > :nth-last-child(1) {
  margin-top: 22px;
}

#skills {
  padding-left: 36px;
  padding-right: 36px;
  background-color: white;
  padding-bottom: 113.85px;
}

#skills .skill-card .skill-category {
  font-size: 20px;
  line-height: 24px;
  padding: 24px 39px 24px 12px;
}

#skills .skill-card .skill-category > :nth-child(2) {
  cursor: pointer;
}

#skills .skill-card .skill-list {
  padding-top: 12px;
  padding-bottom: 12px;
}

#skills .skill-card .skill-list > :nth-child(n) {
  background-color: #f7f7f9;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #253858;
  padding: 9px 0 9.72px 12px;
  border-radius: 8px;
}

#skills .skill-card .skill-list > :nth-child(n) img {
  margin-right: 16px;
}

#skills .skill-card .skill-list > :nth-child(-n+2) {
  margin-bottom: 12px;
}
/*# sourceMappingURL=style.css.map */